@keyframes loading {
  0% {
    transform: translateX(0);
  }
  50%,
  100% {
    transform: translateX(1024px);
  }
}

.skeleton_wrap {
  width: 1024px;
  margin: 20px auto;
}

.skeleton_listgroup {
  display: flex;
  flex-wrap: wrap;
  width: 1024px;
  height: 1180px;
}

.skeleton_list {
  position: relative;
  overflow: hidden;
  min-width: 300px;
  max-width: 300px;
  max-height: 365px;
}

.skeleton_list::before {
  content: "";
  position: absolute;
  top: 550;
  left: 0;
  width: 100px;
  height: 365px;
  background: linear-gradient(to right, #f2f2f2, #ddd, #f2f2f2);
  animation: loading 2s infinite linear;
}

.skeleton_list + .skeleton_list {
  margin-left: 62px;
}

.skeleton_list:nth-child(3n + 1) {
  margin-left: 0;
}
